In [1]:
import numpy as np
import pandas as pd
import requests
import calendar
url = 'https://data.covid19india.org/v4/min/timeseries.min.json'

In [2]:
try:
    response = requests.get(url)
    response.raise_for_status()  # Raise an error for bad status codes
    respond = response.json()
except requests.exceptions.RequestException as e:
    print("Error fetching data:", e)
    respond = None

In [3]:
#print(respond)

In [4]:
states = list(respond.keys())
print(states)

['AN', 'AP', 'AR', 'AS', 'BR', 'CH', 'CT', 'DL', 'DN', 'GA', 'GJ', 'HP', 'HR', 'JH', 'JK', 'KA', 'KL', 'LA', 'LD', 'MH', 'ML', 'MN', 'MP', 'MZ', 'NL', 'OR', 'PB', 'PY', 'RJ', 'SK', 'TG', 'TN', 'TR', 'TT', 'UN', 'UP', 'UT', 'WB']

In [5]:
if respond:
    data = {
        'states': [],
        'month': [],
        'year' : [],
        'tested':[],
        'confirmed' : [],
        'deceased': [],
        'recovered' : [],
        'vaccinated1' : [],
        'vaccinated2' : []
    }

    # Iterate over states
    for state in states:
        dates = list(respond[state]['dates'].keys())
        years = [int(dates[0].split('-')[0])]
        months = int(dates[0].split('-')[1])
        years.append(int(dates[-1].split('-')[0]))

        # Iterate over years
        for year in years:

            # Iterate over months
            for month in range(months,12):
                last_day = calendar.monthrange(year,month)[1]
                last_date = f"{year}-{month:02d}-{last_day:02d}"

                # Check if the last date exists in the data for the current state
                if last_date in respond[state]['dates']:
                    data['states'].append(state)
                    data['month'].append(month)
                    data['year'].append(year)
                    result = respond[state]['dates'][last_date]['total']
                    data['confirmed'].append(result.get('confirmed', np.nan))
                    data['tested'].append(result.get('tested', np.nan))
                    data['recovered'].append(result.get('recovered', np.nan))
                    data['vaccinated1'].append(result.get('vaccinated1', np.nan))
                    data['vaccinated2'].append(result.get('vaccinated2', np.nan))
                    data['deceased'].append(result.get('deceased', np.nan))

In [6]:
df = pd.DataFrame(data)
df.head()

,states,month,year,tested,confirmed,deceased,recovered,vaccinated1,vaccinated2
0,AN,3,2020,NaN,10.0,NaN,NaN,NaN,NaN
1,AN,4,2020,2848.0,33.0,NaN,16.0,NaN,NaN
2,AN,5,2020,7706.0,33.0,NaN,33.0,NaN,NaN
3,AN,6,2020,15709.0,97.0,NaN,45.0,NaN,NaN
4,AN,7,2020,24038.0,548.0,5.0,214.0,NaN,NaN

In [7]:
df.groupby(by=['states','year'],as_index=False)[['tested','confirmed','deceased','recovered','vaccinated1','vaccinated1']].sum()

,states,year,tested,confirmed,deceased,recovered,vaccinated1,vaccinated1
0,AN,2020,360391.0,16730.0,224.0,15213.0,0.0,0.0
1,AN,2021,3568971.0,55879.0,888.0,54536.0,1426447.0,1426447.0
2,AP,2020,30925501.0,2980213.0,25108.0,2678089.0,0.0,0.0
3,AP,2021,181728309.0,13683342.0,94628.0,13214532.0,125902648.0,125902648.0
4,AR,2020,1208735.0,46829.0,118.0,39127.0,0.0,0.0
...,...,...,...,...,...,...,...,...
69,UP,2021,482864737.0,12104847.0,155840.0,11587302.0,342757993.0,342757993.0
70,UT,2020,3743338.0,216985.0,3260.0,183932.0,0.0,0.0
71,UT,2021,45203087.0,2323229.0,47652.0,2151194.0,33874697.0,33874697.0
72,WB,2020,17146169.0,1372018.0,26053.0,1203516.0,0.0,0.0
73,WB,2021,116359807.0,10530042.0,129439.0,10137777.0,188682873.0,188682873.0